<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    </head>
        <body>
            <div class="jumbotron">
                <!-- <div class="container"> -->

                      <h1>Hello! Welcome to SlimYelp?</h1>
                      <br>
                      <!-- <form action="/" class="form-inline">
                        	<div class="form-group">
                							<input type="text" name="name" placeholder="Enter your name here" class="form-control">
                					</div>
                					<input type="submit" value="Submit" class="btn btn-primary"> -->
                			<!-- </form> -->
                    <h2>Enter a Place and an Interest</h2>
                    <form action="/" class="form-inline">
                        <div class="form-group">
                            <input type="text" name="location" placeholder="City, State" class="form-control">
                        <!-- </div> -->
                        <!-- <input type="submit" value="Submit" class="btn btn-primary"> -->
                    <!-- </form>
                    <br> -->
                    <!-- <h2>Now enter a search term!</h2>
                      <form action="/" class="form-inline">
                          <div class="form-group"> -->
                              <input type="text" name="terms" placeholder="Search term" class="form-control">
                          </div>
                          <input type="submit" value="Submit" class="btn btn-primary">
                      </form>
                      <br>
                    {% for business in businesses %}
                    <form action="/" class="form-inline">
                        <div class="form-group">
                          <h4>Name: {{business.name}}, Rating: {{business.rating}}, Phone: {{business.phone}}</h4>
                        </div>
                    </form>
                      <br>
                    {% endfor %}
                    <br>
                    <a href="{{ url_for('index') }}"> Try Another Search</a>
                    <br>
                    <br>
                    <a href="{{ url_for('about') }}"> About this Project</a>
                </div>
            </div>
        </body>
</html>
